@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    border-bottom: 1px solid rgb(201, 201, 201);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 55px;
    height: 55px;
}

.title {
    color: black;
    font-family: 'Roboto';
    text-transform: uppercase;
}

.nav_button {
    font-family: 'Roboto';
    color: rgb(161, 161, 161);
    margin: auto 0;
}

.nav_button:hover {
    cursor: pointer;
    color: rgb(105, 105, 105);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.goback_button {
    width: 80px;
    display: flex;
    flex-direction: row;
    color: rgba(20,140,181);
    margin-top: 20px;

    font-family: 'Roboto';
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.goback_img {
    width: 15px;
    height: 15px;
}

.first_title {
    color: black;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 20px auto 0 auto;
    color: rgba(20,140,181);
    width: 200px;
    text-align: center;
}

.subtitle {
    color: black;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 0 auto;
    color: rgba(20,140,181);
    width: 200px;
    text-align: center;
}

.form {
    width: 400px;

    display: flex;
    flex-direction: column;

    margin: 10px auto 0 auto;
}

.label {
    margin-top: 15px;
    color: rgba(20,140,181);
    font-family: 'Roboto';
    font-size: 15px;
}

.input {
    border: none;
    border-bottom: 1px solid rgba(20,140,181);
    height: 30px;
}

.input:focus{
    outline: none;
}

.button {
    height: 40px;
    width: 90px;
    margin: 25px auto 0 auto;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #0878b2, #32bbb6);
    color: white;
}

.alert {
    padding:5px;
    width: 100%;
    font-size: 13px;
    font-family: 'Roboto';
    text-align: center;
    background-color: crimson;
    color: white;
    border-radius: 3px;
}

.confirmed {
    padding:5px;
    width: 100%;
    font-size: 13px;
    font-family: 'Roboto';
    text-align: center;
    background-color: rgb(53, 220, 20);
    color: white;
    border-radius: 3px;
}